body {
    margin: 0;
    padding: 40px;
}

/* Scroll container */

.items {

    width: 600px;
    height: 250px;

    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    border: 2px solid black;

    cursor: grab;

}

/* Active drag */

.items.active {
    cursor: grabbing;
}

/* Items */

.item {

    flex: 0 0 auto;

    width: 300px;
    height: 200px;

    margin-right: 20px;

    background-color: steelblue;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    user-select: none;

}