html {
  box-sizing: border-box;
  background: url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
}

/* CONTAINER */
.items {
  height: 800px;
  width: 100%;
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  background: rgba(255,255,255,0.1);
  user-select: none;
}

/* ITEM (CUBE) */
.item {
  width: 120px;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: bold;
  color: rgba(0,0,0,0.3);

  box-shadow: inset 0 0 0 6px rgba(0,0,0,0.2);
  cursor: grab;
}

/* COLORS */
.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}